window#osd {
    padding: 1px 4px;
    border-radius: 6px;
    border: 2px solid #7aa2f7;
    background-color: #1a1b26f5;
    opacity: 0.98;
}

image {
    min-width: 10px;
    min-height: 10px;
    margin-right: 4px;
}

label {
    font-size: 9px;
    font-weight: 600;
    color: #c0caf5;
    margin: 0px 0px 1px 0px;
}

progressbar, trough {
    border-radius: 3px;
}

trough {
    background-color: #1f2335;
    min-height: 6px;
    min-width: 100px;
    margin: 0px;
}

progressbar {
    background: linear-gradient(90deg, #7aa2f7 0%, #414868 100%);
    border-radius: 3px;
    min-height: 6px;
}